/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2020, 9:46:06 AM
    Author     : chung
*/

body{
    margin: 0;
    padding: 0;
    background: #2980b9;
    color : white;
   }
   h1{
       text-align: center;
   }